<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
 <dict>
  <key>items</key>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>https://www.pgyer.com/XaMC</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>need-shine</key>
     <integer>0</integer>
     <key>url</key>
     <string>https://appicon.pgyer.com/image/view/appicons/361804a7a750cf3aab7c2da7677e5a48/120</string>
    </dict>
   </array>
   <key>metadata</key>
   <array>
    <dict>
     <key>bundle-identifier</key>
     <string>com.pv.xdoa</string>
     <key>bundle-version</key>
     <string>1.0.0</string>
     <key>kind</key>
     <string>software</string>
     <key>title</key>
     <string>西点管理个人版</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
